/*   Comentario CSS */

/* Reset CSS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/* Conteudo da pagina Index.html*/
body{
    
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    text-align: center;
    background: rgb(230, 230, 234);
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 244, 228);
     
  
}
#instagram{
    position: absolute;
    right: 20px;
    top: 10px;
}
h1{
    font-size: 50pt;
}
.logo  {
    width: 100px;  

}

.menuIndex{
     background-image: url(/img/tacos-delicious.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;     
    background: rgba(6, 4, 4, 0.7) url(/img/tacos-delicious.gif) center no-repeat;     
    background-blend-mode: darken;
    background-size: cover;
     padding: 40px 400px;
     justify-content: center;
     align-content: center;
     display: flex;
     align-items: center;
     flex-direction: column;
    
     
}

#produto2{
    align-items: center;
    justify-content: center;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    border: solid black 2px;
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(120, 226, 226, 0.562);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
#produto1{

    align-items: center;
    justify-content: center;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black ;
    border-radius: 20px;
    padding: 30px;
    color: rgb(8, 9, 9);
    background-color: rgba(120, 226, 226, 0.562);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
   


.produtos{
    display: flex;
    margin: 30px;
    justify-content: space-around;
}
.cortexto{
    color: white;

}
a{
    color: rgb(238, 238, 17);

}
.textoLogo{
    color: rgb(238, 238, 17);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: -25px;
}


/* COnteudo da pagina Sobre.html*/
.menuSobre{
    background-color: black;
}
ul{
   text-align: left;
    width: 200px;
}

/* COnteudo da pagina Contato.html*/
.menuContato{
    background-color: cadetblue;
}
footer{
    background-image: url(/img/tacos-delicious.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;     
    background: rgba(6, 4, 4, 0.7) url(/img/tacos-delicious.gif) center no-repeat;     
    background-blend-mode: darken;
    background-size: cover;
     padding: 40px 400px;
     justify-content: center;
     align-content: center;
     display: flex;
     align-items: center;
     flex-direction: column;
    color: yellow;
    font-size: 14pt;

}